.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  content: 0;
  overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{text-decoration:none;}
button{
	outline: none;
	box-shadow: none;
}
button:hover{
	border: none;
}
body {
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}
.flex_center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.flex_center_wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex_around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
}
.flex_around_wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flex_between {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.flex_between_wrap {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex_start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
}
.flex_start_top{
	 display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items:flex-start;
}
.flex_end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_start_wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
